* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

body {
    height: 100vh;
    background-color: mediumaquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}


.js_boxgame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: white;
    border: solid 3px darkcyan;
    border-radius: 5px;
    line-height: 2.5;
}

.js_startGameBtn {
    border: solid 3px green;
    background-color: lightgreen;
    border-radius: 5px;
    padding: 5px;
}

.mt-3s {
   border: solid 3px purple;
   background-color: mediumpurple;
   border-radius: 5px;
   padding-left: 10px;
   padding-right: 10px;
   color: white; 
}

.js_markerBtn {
    text-align: center;
}

.score {
    color: gray;
}

.js_resetBtn {
    margin-bottom: 15px;
    border: solid 3px darkcyan;
    background-color: lightblue;
    border-radius: 5px;
    padding: 5px;
}

.hidden {
    display: none;
}